.App {
    padding: 1em;
}
.riga_squadra {
    display: flex;
    align-items: center;
    margin-top: .5em;
    margin-bottom: .5em;
    gap: .5em;
}

.pulsantiera {
    width: 10%;
    height: 2em;
}

.punteggio {
    display: flex;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}


.barra {
    height: 2em;
    margin-right: -1em;
}